<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PuzzleConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <PuzzleConsole.Properties.Settings>
            <setting name="EnginePath" serializeAs="String">
                <value>D:\PuzzleService\cutimg.engine</value>
            </setting>
            <setting name="UploadPath" serializeAs="String">
                <value>D:\PuzzleService\Upload\</value>
            </setting>
            <setting name="PuzzlePath" serializeAs="String">
                <value>D:\PuzzleService\Puzzle\</value>
            </setting>
            <setting name="BakPath" serializeAs="String">
                <value>D:\PuzzleService\Bak\</value>
            </setting>
            <setting name="ZipPath" serializeAs="String">
                <value>D:\PuzzleService\Zip\{0}.zip</value>
            </setting>
        </PuzzleConsole.Properties.Settings>
    </userSettings>
</configuration>
